<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список записей</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Список записей о записях</h1>
<a href="/enrollments/new">Добавить новую запись</a>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>User ID</th>
    <th>Course ID</th>
    <th>Дата записи</th>
    <th>Статус</th>
    <th>Попытки</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="enrollment : ${enrollments}">
    <td th:text="${enrollment.id}"></td>
    <td th:text="${enrollment.user.id}"></td>
    <td th:text="${enrollment.course.id}"></td>
    <td th:text="${enrollment.enrollmentDate}"></td>
    <td th:text="${enrollment.status}"></td>
    <td th:text="${enrollment.attempts}"></td>
    <td>
      <a th:href="@{/enrollments/edit/{id}(id=${enrollment.id})}">Редактировать</a>
      <form th:action="@{/enrollments/{id}/delete(id=${enrollment.id})}" method="post" style="display:inline;">
        <button type="submit">Удалить</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
